@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
--Paleblue: hsl(225, 100%, 94%);
--Brightblue: hsl(245, 75%, 52%);
--Verypaleblue: hsl(225, 100%, 98%);
--Desaturatedblue: hsl(224, 23%, 55%);
--Darkblue: hsl(223, 47%, 23%);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: var(--Paleblue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: relative;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
@media screen and (max-width: 400px) {
  .background{
    background-image: url(images/pattern-background-mobile.svg);
  }
  
}

@media screen and (min-width: 401px) {
  .background{
    background-image: url(images/pattern-background-desktop.svg);
  }
  
}

.card{
  width: 350px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.card img{
  width: 100%;
}

.card h1{
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-weight: 900;
  color: var(--Darkblue);
  font-size: 25px;
}

.card>p{
  text-align: center;
  margin: 0 1.5rem 1rem;
  font-size: 16px;
  color: var(--Desaturatedblue);
}

.plan{
  background-color: var(--Verypaleblue);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 30px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}
.plan img{
  width: 50px;
}
.plan-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
}
.plan-info h2{
  font-weight: 900;
  color: var(--Darkblue);
  font-size: 16px;
}

.plan-info p{
  color: var(--Desaturatedblue);
  font-size: 14px;
}

.plan a{
  font-weight: 700;
  color: var(--Brightblue);
  &:hover{
    text-decoration: none;
    color: #766CF1;
  }
}

button{
  justify-self: center;
  align-self: center;
  width: 80%;
  background-color: var(--Brightblue);
  border: none;
  padding: 15px 0;
  margin: 1.5rem;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.2);
}
button:hover{
  background-color: #766CF1;
  cursor: pointer;
}

.card>a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--Desaturatedblue);
  font-weight: 700;
  margin-bottom: 2rem;
  &:hover{
    color: var(--Darkblue);
  }
}
